<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlizzardFileVersion</key>
	<string>2.55.9.93613</string>
	<key>BlizzardProductName</key>
	<string>Heroes of the Storm</string>
	<key>BuildMachineOSBuild</key>
	<string>18G6020</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frameReplay</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GL Layer Frame Replay</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Heroes</string>
	<key>CFBundleGetInfoString</key>
	<string>Heroes of the Storm 2.55.9 (93613), Copyright © 2010-2025 Blizzard Entertainment.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.blizzard.heroesofthestorm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Heroes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.55.9 (93613)</string>
	<key>CFBundleSignature</key>
	<string>Hero</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>93613</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10G8</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18G74</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1030</string>
	<key>DTXcodeBuild</key>
	<string>10G8</string>
	<key>GLApplicationHomeURL</key>
	<string>https://heroesofthestorm.com/</string>
	<key>GLApplicationSystemRequirementsPage</key>
	<string>https://battle.net/support/article/18816</string>
	<key>GLApplicationTechnicalSupportURL</key>
	<string>https://battle.net/support/games/heroes</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Application</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
